<h1><%= subject.charAt(0).toUpperCase()+subject.slice(1) %></h1>
<div class="create-wrapper"><%- include ("./partials/createcontent"); %></div>
<div class="all-posts">
  <% for (let i = 0; i < data.length; i++) { %> <%if(data[i].subject ===
  subject){ %>
  <div class="post">
    <div class="post-body">
      <h2 class="post-title"><%= data[i].title %></h2>
      <% let d = String(data[i].createdAt.getDate()).padStart(2, '0') %> <% let
      m = String(data[i].createdAt.getMonth() + 1).padStart(2, '0') %> <% let y
      = data[i].createdAt.getFullYear() %>
      <div class="details">
        <% let x = `/subjectposts/${data[i]._id}` %>
        <div class="username">By <%= data[i].username %></div>
        <div class="date">
          <%= d + '/' + m + '/' + y %> <%=
          data[i].createdAt.toUTCString().slice(16) %>
        </div>
      </div>
      <div class="article"><%= data[i].article.slice(0, 200) + "..." %></div>
    </div>
    <div class="read-div">
      <a href="<%=x%>">Read More</a>
    </div>
  </div>
  <%}%> <% } %>
</div>
